<!DOCTYPE html>
<html>
  <head>
      <% if (authenticated){%>
      <title><%=user.meno%></title>
      <%}else{%>
      <title>Prihlasenie</title>
      <%}%>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <% if (authenticated){%>
  <p>Vitame Vas pan, <%= user.meno+" "+user.priezvisko%></p>
  <a href="/auth/logout">Odhlasit sa!</a>
  <%}else{%>
  <form action="/auth/" name="login" method="post">
      <table>
        <td>E-mail</td>
              <td><input type="email" name="email" required></td>
          </tr><br>

          <tr>
              <td>Heslo</td>
              <td><input type="password" name="password" required></td>
          </tr><br>
          <tr>
              <td><input type="submit" value="Prihlásiť sa" ></td>
          </tr>
      </table>
  </form>
<p>Ešte nemáte účet vytvorený? <a href="/auth/registration">Zaregistrujte sa</a></p>
<%}%>
  </body>
</html>
