<!DOCTYPE html>
<html>
<head>
    <title>Registracia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/auth/registration" name="form" method="post">
    <table>

        <tr>
            <td>Meno</td>
            <td><input type="text" name="meno" required></td>
        </tr><br>

        <tr>
            <td>Priezvisko</td>
            <td><input type="text" name="priezvisko" required></td>
        </tr><br>

        <tr>
            <td>E-mail</td>
            <td><input type="email" name="email" required></td>
        </tr><br>

        <tr>
            <td>Heslo</td>
            <td><input type="password" name="heslo" required></td>
        </tr><br>

        <tr>
            <td>
                Potvrdenie hesla
            </td>
            <td><input type="password" name="heslo2" required></td>
        </tr><br>
        <tr>
            <td><input type="submit" value="Registrovať sa"></td>
        </tr>
        <tr>

        </tr>
    </table>
</form>
</body>
</html>
