<table width="648" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto" bgcolor="#ffffff">
    <tbody><tr><td><img src="cid:top-shadow-right" alt="" width="648" height="122" border="0" style="display:block;margin:0"></td></tr>
    </tbody>
</table>
