<div layout="row" layout-sm="column" layout-align="start center">
    <md-text-float label="Zadaj text pre filtráciu" ng-model="SearchText"></md-text-float>
    <h2>{{tables.length}} / {{(tables | filter: '548afd22436b8c341c8d1efb').length}} / {{(tables| filter: '548afd22436b8c341c8d1efc').length}}</h2>
</div>

<md-content>
    <md-card layout-padding>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">
                <span>Zoznam stolov uložených v Databáze</span>
            </h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-item ng-repeat="table in tables | filter: SearchText | orderBy:'order'">
                    <md-item-content >
                        <div class="md-tile-content" layout="row" class="md-padding">
                            <md-text-float label="Číslo poradia stola" ng-model="table.order" disabled></md-text-float>
                            <span> Miestnosť: </span>
                            <select ng-init="changeTable.room = rooms[table.room.order]._id" ng-model="changeTable.room" ng-options="room._id as room.name for room in rooms" required></select>
                            <span>Časť v miestnosti</span>
                            <select ng-init="changeTable.part = parts[table.part.order]._id" ng-model="changeTable.part" ng-options="part._id as part.name for part in parts" required></select>
                            <md-button class="md-raised md-primary" ng-click="SaveTable(table, changeTable)"> Uložiť </md-button>
                            <md-button class="md-raised" ng-click="CleanTable(table)"> Vyčistiť </md-button>
                            <md-button class="md-raised md-warn" ng-click="DeleteTable(table)"> Vymazať </md-button>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </md-card>
</md-content>
<md-content>
    <md-card layout-padding>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">
                <span>Uložiť nový stôl do Databázy</span>
            </h1>
        </md-toolbar>
        <div class="md-tile-content" layout="row" class="md-padding">
            <md-text-float label="Číslo poradia stola" ng-model="addTable.order" disabled></md-text-float>
            <span> Miestnosť: </span>
            <select ng-model="addTable.room" ng-options="room._id as room.name for room in rooms" required></select>
            <span> Časť miestnosti: </span>
            <select ng-model="addTable.part" ng-options="part._id as part.name for part in parts" required></select>
            <md-button class="md-raised md-primary" ng-click="AddTable(addTable)">Vytvoriť</md-button>
        </div>
    </md-card>
</md-content>
